* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: #151515;
  padding: 20vh 0 25vh 0;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.1;
  background-image: url(../public/img/background.png);
}

h1 {
  position: fixed;
  top: 4vh;
  width: 100vw;
  text-align: center;
  color: white;
}

.container {
  width: 70vw;
  margin: auto;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flexItem {
  width: 25%;
  margin: 20px;
}

.flexItem p {
  background-color: #d9488b;
  padding: 5px;
}

.flexItem img {
  width: 100%;
}

.buttonList {
  width: 70vw;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.buttonList > div {
  width: 25%;
  margin: 20px;
}

.buttonList .buttonDiv {
  width: 100%;
  background-color: #d9488b;
  color: white;
  padding: 10px 0;
  text-align: center;
  box-shadow: white 5px 5px;
}

.buttonList .buttonDiv:hover {
  background-color: white;
  color: #d9488b;
  box-shadow: #d9488b 10px 10px;
  cursor: pointer;
}

.buttonList .buttonDiv a {
  text-decoration: none;
  color: white;
}

.buttonList .buttonDiv:hover a {
  text-decoration: none;
  color: #d9488b;
}

.navBar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  background-color: #d9488b;
  padding: 1rem;
}

.navBar button {
  background-color: transparent;
  box-shadow: none;
  border: none;
}

.navBar button a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}
